# Folder berat
node_modules/
dist/
build/
.wrangler/

# File Rahasia & Environment
.env
.env.local
.env.*
*.pem

# File Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db